body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(165, 155, 155);
  margin: 0;
  padding: 0;
}

.profile-description{
  border: solid 1px black;
  border-radius: 3px;
  padding: 7px;
  width: 100px;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-name{
  margin-top: 5px;
  margin-bottom: 6px;
}


.profile-card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  height: 200px;
  padding: 20px;
}

.profile-picture{
  margin-top: 10px;
  width: 50px;
  border-radius: 100%;
}

header{
  background: rgb(0, 0, 0);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.left-button, .middle-button, .right-button{
  background-color: rgb(255, 255, 255);
  border-radius: 9px;
  padding: 9px;
  cursor: pointer;
  border: none;  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: all 0.15s;
}

.left-button:hover, .middle-button:hover, .right-button:hover{
  background-color: rgb(30, 30, 30);
  color: white;
}

.right-button-clicked , .right-button-clicked:hover{
  background-color: rgb(46, 204, 113); 
  color: white;                        
  font-weight: bold;                   
}

.join-button {
  border-radius: 10px;
  border: none;
  padding: 8px;
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
}

.join-button-clicked{
  background-color: rgba(145, 4, 4, 0.665);
}

